<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
  <header>
  </header>
  <main>
    <div id="about">
    <section>
      <article>
        <h1>Apa itu Website Refood?</h1>
        <p>
          Website ReFood (Recycle Food) menyediakan informasi yang bermanfaat dan cukup lengkap mengenai cara mengolah dan mendaur ulang limbah makanan guna mengurangi pemborosan makanan. <br />
          <b>Fitur - fitur pada website:</b>
          <ul>
            <li>Mencari informasi tentang limbah makanan</li>
            <li>Menampilkan bagaimana cara mengolah limbah makanan</li>
            <li>Pengguna dapat menambahkan informasi baru tentang bagaimana cara mengolah limbah makanan</li>
          </ul>
        </p>
        </article>
        <article>
        <h2>Tim Kami</h2>
        <figure>
          <img src="assets/fotoprofil/Rizal.png" alt="Foto profil Rizky Rizaldi Kurniawan">
          <figcaption>
            <p>Rizky Rizaldi Kurniawan</p>
            <p>Universitas Negeri Malang</p> 
          </figcaption>
        </figure>
        <figure>
          <img src="assets/fotoprofil/Rizal.png" alt="Foto profil Kelvin Jaya Pratama">
          <figcaption>
             <p>Kelvin Jaya Pratama</p>
             <p>Universitas AMIKOM Yogyakarta</p>
          </figcaption>
        </figure>
        <figure>
          <img src="assets/fotoprofil/Rizal.png" alt="Foto profil Muhammad Irfan Abidin">
          <figcaption>
            <p>Muhammad Irfan Abidin</p>
            <p>Universitas Muhammadiyah Surakarta</p>
          </figcaption>
        </figure>
      </article>
    </section>
  </main>
</div>
  <footer>
  </footer>
</body>
</html>
