:root {
  --primary-color: #1a4d2e;
  --secondary-color: #4f6f52;
  --bg-color: #88e9d0ff;
  --font-family: 'Acme', sans-serif;
  --button-hover-color: #376f60;
}

body {
  background-image: url('../public/images/backgroundWeb.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
}

.navbar {
  background-color: transparent !important;
  font-size: 1.5rem;
}

.jumbotron {
  background-color: transparent !important;
}

.jumbotron-container {
  margin-bottom: 30px;
  height: 40vh;
  position: relative;
}

.image-wrapper {
  width: 100%;
  height: 450px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.row.content-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col-md-6, .col-md-3 {
  flex: 0 0 auto;
}

.col-md-6 {
  max-width: 50%;
}

.col-md-2 {
  max-width: 20%;
  align-self: flex-start;
}

.col-md-3 {
  max-width: 30%;
  align-self: flex-start;
}

.up-layar {
  width: 100%;
  height: auto;
}

#judul {
  color: antiquewhite;
  font-weight: bold;
  font-size: 60px;
}

#description {
  margin: 0;
  padding: 20px;
  height: 400px;
  background-color: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
              rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
              rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
              rgba(0, 0, 0, 0.06) 0px 2px 1px, 
              rgba(0, 0, 0, 0.09) 0px 4px 2px, 
              rgba(0, 0, 0, 0.09) 0px 8px 4px, 
              rgba(0, 0, 0, 0.09) 0px 16px 8px, 
              rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#cara-pengolahan {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  display: inline-block;
}

#cara-pengolahan:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.05);
}

.teks {
  color: var(--primary-color);
}

#description {
  font-size: 1.3rem;
}

.refood-slide {
  width: 300px;
  height: 25vh;
  position: relative;
  margin: 3rem 2rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
              rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
              rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
              rgba(0, 0, 0, 0.06) 0px 2px 1px, 
              rgba(0, 0, 0, 0.09) 0px 4px 2px, 
              rgba(0, 0, 0, 0.09) 0px 8px 4px, 
              rgba(0, 0, 0, 0.09) 0px 16px 8px, 
              rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: #1a676f;
}

.refood-slide:hover, .refood-slide:focus {
  transform: scale(1.2);
}

.refood-slide.clicked {
  transform: scale(1.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.refood-slide .refood-slide-img {
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.refood-slide .refood-slide-img img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: contain;
}

.refood-slide .refood-slide-content {
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: var(--white);
  padding: 1rem;
  transition: opacity 0.3s ease;
}

.refood-slide-content .food-type {
  font-size: 1.6rem;
  text-align: center;
}

.refood-slide-content .btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .jumbotron-container {
    height: auto;
  }

  .image-wrapper {
    height: 50vh;
  }

  .row.content-row {
    flex-direction: column;
  }

  .col-md-6, .col-md-2, .col-md-3 {
    max-width: 100%;
  }
}